<% include partials/header.ejs %>
<div class="container">

	<% if (messages.info) { %>
		<div class="flash flash-info"><%=messages.info%></div>
	<%}%>
	<% if (messages.warning) { %>
		<div class="flash flash-warning"><%=messages.warning%></div>
	<% } %>
	<% if (messages.success) { %>
		<div class="flash flash-success"><%=messages.success%></div>
	<% } %>
	<h2>Remarks </h2>

	<table class="table table-dark table-striped">
	    <thead>
	      <tr>
	        <th>S.No</th>
					<th>Remarks</th>
	        <th>Hash</th>
	      </tr>
	    </thead>
	    <tbody>
				<%if((typeof bdata=='object') && (bdata.length > 0)) { %>
					<% for(var i = 0; i < bdata.length-1; ++i) {%>
						<tr>
							<td><%=i+1%><td>
							<td><%=bdata[i]["Message"]%></td>
	   					<td><a href="https://florincoin.info/tx/<%=bdata[i]['Hash']%>">View in Blockchain</a></td>
						</tr>
					<% } %>
				<%}%>
	    </tbody>
	  </table>
</div>
<% include partials/footer.ejs %>
